<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <% date = DateTime.now  %>
        <% formatted = date.strftime("%A, %B %e, %Y")  %>
        <h1><%= "The date is #{formatted}" %></h1>
    </body>
</html>